html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;


body, .col {
    background-color: transparent !important;
    box-shadow: none !important;
}

#backgroundImage {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#jokeContainer, #jokeContainer .container, #jokeContainer .col, #jokeContainer .row {
    background-color: transparent;
    box-shadow: none;
}

#jokeContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: auto;
    max-width: 600px; 
    padding: 20px;
    background-color: transparent; 
    border-radius: 10px;
   }

#jokeContainer p {
    margin: 10px 0;
    font-size: 1.25rem; 
}

#jokeContainer, #jokeContainer .col, #jokeContainer .row {
    background-color: transparent;
}

#jokeContainer p, #jokeContainer button {
    color: white;
    font-weight: bold;
}

#voting-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.emoji {
    transition: all 0.3s ease;
    border-radius: 100px !important; 
}

.emoji:hover {
    transform: scale(1.2);  
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); 
}

#nextJokeButton {
    display: inline-block;
    margin: 10px auto;
    padding: 10px 20px !important;
    font-size: 1.25rem;
    background-color: #8605ff; 
    color: white; 
    border: none; 
    border-radius: 50px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    transition: all 0.3s ease; 
    border-radius: 50px;
}

#nextJokeButton:hover {
    background-color: #840096; 
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.356) !important; 
}

#weatherContainer {
    position: absolute;
    top: 25px;
    left: 25px;
    z-index: 1000;
    background-color: transparent;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

#weatherIcon {
    margin-right: 1px;
    box-shadow: o o 30px #840096 !important;
}

}